{
	"id":"light_autocannon_shot",
	"specClass":"projectile",
	"spawnType":"BALLISTIC",  # BALLISTIC, PLASMA, BALLISTIC_AS_BEAM or BEAM - BALLISTIC doesn't work for pulse weapons
	"collisionClass":"PROJECTILE_FF",
	"collisionClassByFighter":"PROJECTILE_FIGHTER",
	"length":30.0,
	"width":10.0,
	"hitGlowRadius":50,
	"fadeTime":0.5,
	"fringeColor":[155,0,0,255],
	"coreColor":[255,255,255,255],
	"darkCore":false,
	"textureType":ROUGH,  # only needed for BEAM spawnType
	"textureType":["graphics/fx/emp_arcs.png","graphics/fx/emp_arcs.png"], # alternate spec - explicit texture names
	"textureScrollSpeed":64.0,
	"pixelsPerTexel":1.0,
	"bulletSprite":"graphics/missiles/shell_large_yellow.png" # only for BALLISTIC or BALLISTIC_AS_BEAM
	
### DO NOT SET - these are taken from weapon_data.csv (which in turn comes from a googledocs spreadsheet)	
#	"damage":50.0,
#	"maxRange":500,
#	"moveSpeed":250,
#	"maxHealth":1,
	
}